.body {
    width: 680px;
    height: 308px;
    background-image: url("../assets/torso.png");
}

.tail {
    position: absolute;
    top: 10px;
    left: -206px;
    width: 285px;
    height: 476px;
    background-image: url("../assets/tail.png");
}