.front-leg-wrapper {
  position: absolute;
  top: -19px;
  left: 488px;

  .top {
    width: 236px;
    height: 372px;
    background-image: url("../assets/front_top.png");
  }
  .middle {
    position: absolute;
    top: 307px;
    left: 60px;
    width: 120px;
    height: 265px;
    background-image: url("../assets/front_middle.png");
  }
  .bottom {
    position: absolute;
    top: 218px;
    left: 21px;
    width: 98px;
    height: 138px;
    background-image: url("../assets/front_bottom.png");
  }
  .paw {
    position: absolute;
    top: 87px;
    left: 42px;
    width: 112px;
    height: 54px;
    background-image: url("../assets/paw.png");
  }
}