@keyframes head {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

.head-wrapper {
  position: absolute;
  left: 495px;
  top: -20px;
  transform-origin: 20% 65%;
  @include animate-twice(head);

  .head {
    position: absolute;
    top: 5px;
    left: 272px;
    width: 295px;
    height: 214px;
    background-image: url("../assets/head.png");
    transform-origin: 15% 50%;
    @include animate-twice(head);
    animation-delay: 0.25s;

    .ear {
      position: absolute;
      top: -37px;
      left: 73px;
      width: 94px;
      height: 84px;
      background-image: url("../assets/ear.png");
    }
  }

  .neck {
    width: 407px;
    height: 302px;
    background-image: url("../assets/neck.png");
  }
}