@mixin animate($name) {
  animation-name: $name;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.wolf-wrapper {
  position: absolute;
  top: 268px;
  left: 507px;
  transform: scale(0.5);

  //.front-leg-wrapper.left * {
  //  animation-delay: -2s;
  //}

  @import 'head.scss';
  @import "body.scss";
  @import "front-leg.scss";
  @import "back-leg.scss";
}

